{
    "DATABASE": {
        "host": "localhost",
        "database": "macecomp_test",
        "user": "root",
        "password": ""
    },
    "REST": {
        "url": "https://franciscan.blackboard.com",
        "key": "Application Key",
        "secret": "Secret"
    }
}